/* Cosas por Hacer en Css
-Color de los h's,
-Color del .hero
Separacion del menu. 
Darle Estilo a Events y al formularo de ¿Quieres hacer algo?
*/

html{
    scroll-behavior: smooth;
}

body {
    background: rgb(235, 232, 231);
    color: rgb(85, 85, 85);
    font-family: 'Indie Flower',serif;
    margin:0;
    scroll-behavior: smooth;
}
h1,h2,h3,h4,h5,h6{
    font-family: 'Righteous',serif;
}
h1{
    font-family: 'Righteous',serif;
    line-height: 1em;
    font-weight:normal;
    letter-spacing: -.8px;
    text-transform: capitalize;
}
p{
    font-family:'Source Sans Pro',serif;
}
header {
    margin: auto;
    width: 80%;
    padding:2px;
    margin-bottom: 15px;
}
section{
    margin: 0px auto;
   }

/*Header flex*/
.header{
    display: flex;
    background: #6B92FF;
    justify-content: space-between;
    align-content: center;
    width: 100%;
    height: 80px;
}
.menu{
    height: inherit;
    margin: 0px 20px; 
}
.menu ul{
    height: inherit;
    margin: 0px;
    display: inline-flex;
    
}
.menu li{
    background: #6B92FF;
    height: inherit;
    display: inherit;
    align-content: center;
    padding:0px 5px;
    
}
.menu a{
    color: white;
    display: inherit;
    align-self: center;
}
.header-image{
    width: 50px;
}

.hero{
    background: #B8FF52;
    padding-left:10px;
    height: 400px;
    display:flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0px 0px 5px 0px #464646;
}

.events{
    margin-top: 15px;
    padding:15px;
    color: #131313; 
}

.contact{
    margin-top: 15px;
}
.portfolio{
    margin: 0px 0px;
    margin-top: 15px;
    background: rgb(235, 232, 231);
    padding-left: 10px;
    color: #131313;
}

.hero-text{
    color: rgb(103, 117, 83);
    height: inherit;
    width: 400px;
    font-size: 18pt;
    margin:0px 0px 0px 0px;
}

.hero-imageContainer{
    height: 350px;
    width: 350px;
    margin:0;
    padding:0;
    border-width: 1px;
    border-color: black;
    border-style: solid;
}
.hero-image{
    width: inherit;
    height: inherit;
}
.proyect{
    height: 400px;
    margin:auto 15px;
    margin-top:20px;
    padding:15px;
    display:flex;
    align-items: center;
    justify-content: space-between;
    box-shadow: 0px 0px 5px 0px #6e6e6e;
    background: white;
    color: #5f5f5f; 
}
.event{
    margin-bottom: 15px;
    padding:15px;
    display: flex;
    margin-left: 15px;
    box-shadow: 0px 0px 5px 0px #6e6e6e;
    background: white;
    color: #5f5f5f; 
    justify-content: space-between;
}
.event-detail{
    color: #5f5f5f; 
}
.event-url{
border-color: black;
border-style: solid;
border-width:1px;
border-radius: 10px;
padding: 2px;
}
.event-url:hover {

    background-color:rgb(198, 204, 255);
    }
.proyect-details{
    width: 500px;
    height: 300px;
}
.proyect-image{
    width: 300px;
    height: 300px;
}
.proyect-image img{
    width: inherit;
}


a{
    color: rgb(85, 85, 85);
    text-decoration: none;
}
.footer{
    margin: 0;
    height: 75px;
    background-color: #3b3b3b;
    color:white;
    display:flex;
    align-items: center;
    justify-content: space-around;
}
.footer-imageContainer{
    width: 50px;
    height: 25px;
    margin: 0;
}
.footer-image{
    width: inherit;
    height: inherit;
}

.contact{
display:flex;
background: rgb(236, 81, 38);
color: white;
justify-content: space-between;
align-content: center;
height: 150px;
}
.form{
    margin-left:10px;
    width: 500px;
    align-items: left;

}
.form h3{
    text-align: center;
}
.form-detail{
    text-align: center;
font-weight: bold;
}
.form input{
    width: 200px;
    height: 20px;
}
.form-enviar{
    margin-top: 5px;
    display: flex;
    justify-content: center;
}
.form-enviar input{
    border:1px solid rgb(240, 137, 97);
    border-radius: 3px;
    background: rgb(240, 137, 97);
    box-shadow: 0px 0px 5px #464646;
    height: 30px;
}
.form-enviar input:hover{
    
    border-color: rgb(172, 172, 172);
    box-shadow: none;
    color: white;
    background: rgb(71, 71, 71);
}
.social{
    margin-right: 40px;
    width: 300px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.social-link{

    width: 50px;
    height: 50px;
}

.social-link.itchio{
    background-image: url('../imgs/itchio.png');
    background-size: 50px 50px;
    
}
.social-link.github{
    background-image: url('../imgs/GitHub.png');
    background-size: 50px 50px;
}
.social-link.twitch{
    background-image: url('../imgs/twitch.png');
    background-size: 50px 50px;
}
.social-link.youtube{
    background-image: url('../imgs/youtube.svg');
    background-size: 50px 50px;
}
.container{
    /* border: 1px solid black; */
    width: 1200px;
    display: inherit;
    justify-content: inherit;
    align-items: inherit;
    margin:0 auto;
    height: inherit;
}
