body{
    margin: 0px;
}
p{
    margin:0;
    color: white;
    font-size: 13pt;
    font-family: 'Baloo Thambi 2';
}
.menu{
    height: 30px;
    display: flex;
    text-decoration: none;
    justify-content: space-between;
    align-items: center;
    background-color: #1259B3;
}
.menu .logo{
    margin:0;
}
.menu .logo .titulo-menu{
    margin:0;
    margin-left: 10px;
    color: #FFD900;
    font-size: 15pt;
    font-family: 'bd_renaissanceregular';
    text-shadow: 1px 1px 1px black;
}
.menu .botones{
    height: inherit;
    display: inherit;
    align-items: center;
    -webkit-margin-collapse: collapse;
    margin-right: 10px;
    justify-content: space-evenly;
}
.link{
    padding:0 5px;
    margin: 5px;
    display: inherit;
    font-size: 15pt;
    color: white;
    text-decoration: none;
    vertical-align: center;
    height: inherit;
}
.link:hover
{
    background-color: rgba(0,0,0,0.5);
}
.historia-container{
    display:flex;
    flex-wrap: wrap;
    width: 100%;
    flex-grow: 0;
    flex-shrink: 0;
    padding: 30px 15px;
}

.titulo{
    margin: 0;
    width: inherit;
    color:#FFD900;
    font-family: 'bd_renaissanceregular';
    text-shadow: 2px 2px 1px black;
    font-size: 40pt;
    font-weight: lighter;
    text-align: center;
}

.portada-img-container{
    display: inherit;
    margin: 30px 0;
    width: inherit;
    justify-content: center;
}

.portada-img{
    transition: 1s;
    width: 500px;
    height: 334px;
    border-radius: 3px;
    box-shadow: rgba(0, 0, 0, 0.75) 3px 3px 2px;
}
.portada-img:hover{
    transition: 1s;
    /* width: 640px;
    height: 427px; */
    transform: scale3d(1.2,1.2,1);
    transition: 1s;
}
.historia-container{
    display: flex;
    max-width: inherit;
    background-color: #7712B3;
    justify-content: center;
    
}

h2,h3{
    text-align: center;
}
p{
    margin-bottom: 5px;
}
.contenido{
    padding: 0 30px;
    width: 1000px;
    background-color: rgba(0,0,0,0.5);
    border-radius: 5px;
    padding-bottom: 50px;
}
.subtitulo{
    color: rgb(174, 252, 255);
    font-size: 20pt;
}
.acotacion-texto{
    font-style: italic;
    color: rgb(185, 185, 185);
}
.dialogo-texto{
    font-family: sans-serif;
}
.narrador-texto{
    color: gold;
    font-weight: bolder;
    line-height:  1rem;
    text-shadow: 1px 1px 1px black;
}