.Hero
{
    background-color: black;
    display: flex;
    flex-wrap: wrap;
    overflow: overlay;
    justify-content: space-between;
    padding-bottom: 20px;
}
.Hero-Titulo
{
    padding: 20px 0;
    color: white;
    width: 100%;
    text-align: center;
}
.contenedor-carousel
{
    width: 900px;
	padding: 20px 0;
	overflow: hidden;
	scroll-behavior: smooth;
}
.arrow-b
{
    display: flex;
    width: 30px;
    align-items: center;
    justify-content: center;
    color: white;
}
.carousel{
    display: flex;
    height: 240px;
    flex-wrap: nowrap;
    position: relative;
}

.hero_art
{
    min-width: 300px;
    max-width: 300px;
    display: inherit;
    overflow: hidden;
    flex-wrap: wrap;
    text-decoration: none;
    transition: 1s;
}
.hero_art:hover{
    
    transform: translateX(5%) translateZ(1px) scale3d(1.1,1.1,1);
    transition: 1s;
}

.contenedor-imagen{
    margin: 0;
    width: 300px;
    height: 240px;
} 
.h-a-img{
    z-index: 0;
	width: 100%;
    vertical-align: top;
    height: 100%;
    object-fit: cover;
}

.h-a-text{
    opacity: 0;
    margin-top: -240px;
    position: relative;
    z-index: 2;
    display: inherit;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 5px;
    background: rgba(0,0,0, 0);

}
.h-a-text:hover{
    background: rgba(0,0,0, .5);
    opacity: 1;
    transition: 1s;
}

.h-a-title{
    color: white;
}
.h-a-description{
    color: white;
}
