p,h1,h2,h3,h4,body{
    margin: 0;
    padding: 0;
}

header{
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-wrap: wrap;
    background-color: #0D78FF;
    padding-bottom: 30px;

}

.Nombre{
    display: inherit;
    width: 300px;
    flex-wrap: inherit;
}
.Encabezado-Titulo{margin:0px}
.linea{
    width: 300px;
    height: 1px;
    background-color: gold;
    border-radius: 4px;
    border:solid gold 3px;
    box-shadow: black 1px 1px 3px;
}

.Hero-Container{
    display: inherit;
    width: 100%;
    justify-content: center;
}
.Hero-Text{
    display: inherit;
    max-width: 450px;
    max-height: 400px;
}
.Cuento-Section{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background-color: rgb(20, 20, 20);
    padding-top: 30px;
}
.Cuento-Container{
    
    background-color: rgb(39, 39, 39);
    display: flex;
    border-radius: 5px;
    /* border: solid black 2px;
    box-shadow: inset 0px 0px 15px 0px black; */
    flex-wrap: wrap;
    padding: 5px;
    padding-bottom: 15px;
    margin-bottom: 5px;
    width: 1000px;
    justify-content: inherit;
}
.Cuento-Contenido{
    display: inherit;
    flex-wrap: inherit;
    justify-content: inherit;
}
.Cuento-Img-Portada{

    transition: 1s;
    width: 500px;
    height: 334px;
    border-radius: 3px;
    box-shadow: rgba(0, 0, 0, 0.75) 3px 3px 2px;
}
.Cuento-Img-Portada:hover{
    transition: 1s;
    width: 640px;
    height: 427px;
    transition: 1s;
}
.Cuento-Texto{
    max-width: 800px;
    margin-bottom: 22pt;
}
.botton-mas{
    display: inherit;
    align-items: center;
    width: 250px;
    border-radius: 15px;
    box-shadow: black 0px 3px 1px 1px ;
    background-color:rgb(206, 87, 18);
    height: 75px;
}
.botton-mas:hover{
    transform: translate3d(0px,2px,0px);
    background-color:rgb(199, 58, 15);
    box-shadow:inset black 0px 1px 1px 1px ;
}
.botton-mas a{
    display: inherit;
    text-decoration: none;
    width: 100%;
    padding: 0 5px;
    justify-content: space-around;
}
.text-mas{
    display: inherit;

}
.image-mas{
    display: inherit;
    width: 50px;
    height: 50px;
    image-rendering: optimizeQuality;
}
/*
Azul Oscuro: #1259B3
Azul Claro: #0D78FF
Dorado: #FFD900
Morado Oscuro: #7712B3
Morado Claro: #A50DFF


*/
footer{
    background: darkblue;
    color: gold;
    display: flex;
    align-items:center;
    justify-content: center;
}
footer h2{
    display: flex;

}