

.Encabezado-Titulo{
    font-size: 70pt;
    font-weight: normal;
    color: gold;
    text-shadow: black 1px 1px 3px;
}
.Hero-Text{
    font-size: 50pt;
    font-weight: normal;
    color: gold;
    text-shadow: black 1px 1px 3px;
    text-align: center;
}
.Cuento-Titulo{
    font-size: 45pt;
    font-weight: normal;
    color: gold;
    text-shadow: black 1px 1px 3px;
    text-align: center;
}
.Cuento-Texto{
    font-family: 'Baloo Thambi 2';
    font-size: 20pt;
    font-weight: 500;
    color: white;
    line-height: 1em;
    text-align: center;
}
.inicial{
    font-size: 22pt;
}
.text-mas
{
    font-family: 'Baloo Thambi 2';
    font-size: 24pt;
    font-weight: 500;
    text-transform: uppercase;
    text-align: center;
    color: white;
}
.inicial,.Cuento-Titulo,.Hero-Text,.Encabezado-Titulo{
    font-family: 'bd_renaissanceregular';
}
