
body {
    background:  lightgrey;
    color: rgb(85, 85, 85);
}

header {
    background: lightgreen;
}

#QuienSoy {
    background:lightgoldenrodyellow;
}

#Portafolio {
    background:rgb(164, 218, 252);
}
a{
    color: rgb(85, 85, 85);
    text-decoration: none;
}
