/* Cosas por Hacer en Css
-Color de los h's,
-Color del .hero
Separacion del menu. 
Darle Estilo a Events y al formularo de ¿Quieres hacer algo?
*/

body {
    background: rgb(242, 255, 225);
    color: rgb(85, 85, 85);
    font-family: 'Indie Flower',serif;
}
h1,h2,h3,h4,h5,h6{
    font-family: 'Righteous',serif;
}
h1{
    font-family: 'Righteous',serif;
    line-height: 1em;
    font-weight:normal;
    letter-spacing: -.8px;
    text-transform: capitalize;
}
p{
    font-family:'Source Sans Pro',serif;
}
header {
    margin: auto;
    width: 80%;
    padding:2px;
    margin-bottom: 15px;
}
section{
    margin: 0px auto;  
   }
/*Bordes*/
.events, .contact, .events, header, .portfoli{
    border-color:black;
    border-width: 1px;
    border-style: solid;
    border-radius: 5px; 
    background:white;
    box-sizing: border-box;
}
/*Header flex*/
.header{
    display: flex;
    background: #6B92FF;
}
.menu{
    display: flex;
    align-items:flex-end;
}
.menu li{
    background: #6B92FF;
    
    display: inline-block;
}
.menu a{
    color: white;
}
.header-image{
    width: 50px;
}

.hero{
    background: #B8FF52;
    padding:5px;
    display:flex;
    justify-content: space-between;
}

.events{
    margin-top: 15px;
    padding:15px;
}

.contact{
    margin-top: 15px;
}
.portfolio{
    margin: 0px 0px;
    margin-top: 15px;
    background: rgb(238, 226, 223);
    padding: 5px; 
}

.hero-text{
    color: rgb(110, 163, 36);
    height: 200px;
    width: 320px;
    margin:0px 0px 0px 0px;
}

.hero-imageContainer{
    float: left;
    height: 200px;
    width: 200px;
    margin:0px 0px 0px 0px;
}
.hero-image{
    width: 100px;
    height: 200px;
}
.proyect{
    height: 400px;
    margin-bottom: 15px;
    padding:15px;
    display:flex;
    box-shadow: 0px 0px 5px 0px #6e6e6e;
    background: white;
}
.event-detail{
    display:flex;
}
.event-image{
    display:flex;
}
.proyect-details{
    width: 500px;
    height: 200px;
}
.proyect-image{
    width: 500px;
    height: 100px;
}
.proyect-image img{
    width: 250px;
}


a{
    color: rgb(85, 85, 85);
    text-decoration: none;
}
