
body {
    background:  lightgrey;
    color: rgb(85, 85, 85);
    font-family: 'Indie Flower',serif;
}
h1,h2,h3,h4,h5,h6{
    font-family: 'Righteous',serif;
    color: rgb(78, 119, 255);
    text-shadow: 1px 1px rgb(55, 86, 187);
}
h1{
    font-family: 'Righteous',serif;
    line-height: 1em;
    font-weight:normal;
    letter-spacing: -.8px;
    text-transform: capitalize;
}
p{
    font-family:'Source Sans Pro',serif;
}
header {
    background: lightgreen;
    margin-left: 1%;
    margin-right: 1%;  
}
section{
 margin-left: 5%;
 margin-right: 5%;   
}
.hero{
    height: 300px;
}
.proyect{
    background-color: rgb(187, 204, 216);
    
}
.proyect-details{
    width: 500px;
    height: 100px;
}
.proyect-image{
    width: 500px;
    height: 100px;
}
.header-image{
    width: 75px;
}
#QuienSoy {
    background:lightgoldenrodyellow;
}

#Portafolio {
    background:rgb(164, 218, 252);
}
a{
    color: rgb(85, 85, 85);
    text-decoration: none;
}
